# config for slothbot
dev = "True"

# user/pass for Flask
basic_auth_username = 'slothbot'
basic_auth_password = 'password'

# Tokens
discord_token = ""
openai_token = ""

# URIs
weaviate_url = "http://localhost:8080"
featurebase_url = "http://localhost:10101"

